<div id="<%= dom_id provider %>">
  <p>
    <strong>Name:</strong>
    <%= provider.name %>
  </p>

  <p>
    <strong>Provider type:</strong>
    <%= provider.provider_type %>
  </p>

  <p>
    <strong>Provider regions:</strong>
    <ul>
      <% provider.regions.each do |region| %>
        <li>
          <%= link_to region_path(region) do %>
            <%= region.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Provider contributors:</strong>
    <ul>
      <% provider.users.each do |user| %>
        <li>
          <%= link_to user_path(user) do %>
            <%= user.email %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </p>
</div>
