<p style="color: green"><%= notice %></p>

<%= render @provider %>

<%= link_to "Back to providers", providers_path, class: "mt-4" %>

<div>
  <%= link_to "Edit this provider", edit_provider_path(@provider), class: "btn btn-primary mt-4" %>
</div>

<div>
  <%= button_to "Destroy this provider", @provider, method: :delete, class: "btn btn-danger mt-4" %>
</div>
