<%# locals: (signed_id:, display_name:, blob_path:, blob_counter:, hidden_input:) %>

<div class="my-2" data-signed-id="<%= signed_id %>" data-upload-target="fileItem">
  <%= link_to display_name, blob_path, title: display_name, class: "no-underline hover:underline" %>

  <% if hidden_input %>
    <input type="hidden" name="topic[document_signed_ids][]" value="<%= signed_id %>">
  <% end %>

  <button id="remove-button-<%= blob_counter %>" class="ml-2 rounded bg-indigo-700 text-white cursor-pointer" data-action="click->upload#removeFile" data-signed-id="<%= signed_id %>">
    <span class="button-span w-5 h-5 flex items-center justify-center">X</span>
  </button>
</div>
