<%= form_for topic do |f| %>
  <div class="form-body">
    <div class="row">
      <%= render "shared/errors", resource: topic %>
      <div class="col-12">
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
        </div>
        <% if Current.user.is_admin? %>
          <div class="form-group">
            <%= f.label :provider %>
            <%= f.collection_select :provider_id, Provider.all, :id, :name, { prompt: "Select Provider" }, class: "form-select" %>
          </div>
        <% end %>
        <div data-controller="select-tags">
          <div class="form-group">
            <%= f.label :language %>
            <%= f.collection_select :language_id,
                                    Language.all,
                                    :id,
                                    :name,
                                    { prompt: "Select Language" },
                                    class: "form-select",
                                    data: { "resource-type": "topics", "resource-id": f.object.id, "select-tags-target": "language", "action": "change->tags#changeLanguage" }
            %>
          </div>
          <div class="form-group">
            <div class="d-flex">
              <%= f.label :tag_list, class: "flex-fill" %>
              <small class="flex-fill text-end fw-light text-muted text-uppercase">Press enter to add a new tag</small>
            </div>
            <%= f.select :tag_list,
                         options_from_collection_for_select(
                           topic.available_tags,
                           :name,
                           :name,
                           topic.current_tags_list
                         ),
                         { prompt: "Select tags", include_blank: true },
                         multiple: true,
                         class: "form-select",
                         data: { "allow-new": "true", "allow-clear": "true", "select-tags-target": "tagList" }
            %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :documents, style: "display: block" %>
          <%= f.file_field :documents, multiple: true, class: "form-control" %>
        </div>
        <div class="col-12 d-flex justify-content-end">
          <%= f.submit "Save", class: "btn btn-primary me-1 mb-1" %>
          <%= link_to "Cancel", topics_path, class: "btn btn-light-secondary me-1 mb-1" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
