<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h2 class="card-title">Search</h2>
  </div>
  <div class="card-content">
    <div class="card-body">
      <p class="card-text"> Use these params settings to search topics</p>
      <%= form_for :search, url: topics_path, method: :get do |f| %>
        <div class="form-body">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <%= f.label :provider %>
                <%= f.collection_select :provider_id, providers, :id, :name, { prompt: "Select provider" }, class: "form-select" %>
              </div>
              <div class="form-group">
                <%= f.label :language %>
                <%= f.collection_select :language_id, languages, :id, :name, { prompt: "Select language" }, class: "form-select" %>
              </div>
              <div class="form-group">
                <%= f.label :query %>
                <%= f.text_field :query, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :year %>
                <%= f.select :year, options_for_select((Date.today.year-10..Date.today.year).to_a, params[:year].to_i), { prompt: "Select year" }, class: "form-select" %>
              </div>
              <div class="form-group">
                <%= f.label :month %>
                <%= f.select :month, options_for_select((1..12).to_a, params[:month]), { prompt: "Select month" }, class: "form-select" %>
              </div>
              <div class="form-group">
                <%= f.label :state %>
                <%= f.select :state, options_for_select(Topic::STATES.index_with(&:itself), params[:state]), { prompt: "Select state" }, class: "form-select" %>
              </div>
              <div class="form-group">
                <%= f.label :order %>
                <%= f.select :order, options_for_select(Topic::SORTS.index_with(&:itself), params[:order]), { prompt: "Select order" }, class: "form-select" %>
              </div>
              <div class="col-12 d-flex justify-content-end">
                <%= f.submit "Search", class: "btn btn-primary me-1 mb-1" %>
                <%= link_to "Clear", topics_path, class: "btn btn-light-secondary me-1 mb-1" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
