<div id="<%= dom_id topic %>">
  <div class="section">
    <h3 class="mb-4">Topic: <%= topic.id %></h3>
    <div class="card mb-6">
      <div class="card-header">
        <div class="card-title">
          <h3><%= topic.title %></h3>
        </div>
      </div>
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-md-3"><strong>UID:</strong></div>
          <div class="col-md-9"><%= topic.uid %></div>
        </div>
        <div class="row mb-2">
          <div class="col-md-3"><strong>Description:</strong></div>
          <div class="col-md-9"><%= topic.description %></div>
        </div>
        <div class="row mb-2">
          <div class="col-md-3"><strong>Provider:</strong></div>
          <div class="col-md-9"><%= link_to topic.provider.name, topic.provider, class: "text-decoration-none" %></div>
        </div>
        <div class="row mb-2">
          <div class="col-md-3"><strong>Language:</strong></div>
          <div class="col-md-9"><%= link_to topic.language.name, topic.language, class: "text-decoration-none" %></div>
        </div>
        <div class="row mb-2">
          <div class="col-md-3"><strong>Publishing at:</strong></div>
          <div class="col-md-9"><%= topic.published_at.strftime('%m/%d/%Y') %></div>
        </div>
      </div>
      <div class="card-footer">
        <strong>Tags:</strong>
        <% topic.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag), class: "badge bg-success text-decoration-none me-1", target: "_blank" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="col-12">
      <h3 class="mb-4">Documents</h3>
    </div>
    <div>
      <% topic.documents.each do |document| %>
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="card-title">
                <h4><%= document.filename %></h4>
              </div>
            </div>

            <%= card_preview_media(document) %>

            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <span class="btn btn-sm btn-outline-secondary">
                    <i class="bi bi-calendar-date"></i>
                    <%= document.created_at.strftime('%m/%d/%Y') %>
                  </span>
                  <span class="btn btn-sm btn-outline-secondary">
                    <i class="bi bi-clipboard-data"></i>
                    <%= number_to_human_size(document.byte_size) %>
                  </span>
                </div>
                <%= link_to rails_blob_path(document), target: "_blank", class: "btn btn-primary" do %>
                  <i class="bi bi-file-arrow-down"></i> Download
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
