<div id="<%= dom_id topic %>">
  <p>
    <strong>Title:</strong>
    <%= topic.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= topic.description %>
  </p>

  <p>
    <strong>UID:</strong>
    <%= topic.uid %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= link_to topic.language.name, topic.language %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= link_to topic.provider.name, topic.provider %>
  </p>

  <ul>
    <% topic.documents.each do |document| %>
      <li><%= link_to document.filename, rails_blob_path(document), target: "_blank"%></li>
    <% end %>
  </ul>
</div>
