<div id="<%= dom_id topic %>">
  <p>
    <strong>UID:</strong>
    <%= topic.uid %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= topic.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= topic.description %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= link_to topic.provider.name, topic.provider %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= link_to topic.language.name, topic.language %>
  </p>

  <p>
    <strong>Publishing at:</strong>
    <%= topic.published_at.strftime('%m/%d/%Y') %>
  </p>

  <div>
    <p>
      <strong>Tags:</strong>
      <% topic.current_tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag), class: "badge bg-success", target: "_blank" %>
      <% end %>
    </p>
  </div>

  <div>
    <strong>Documents:</strong>
    <ul>
      <% topic.documents.each do |document| %>
        <li><%= link_to document.filename, rails_blob_path(document), target: "_blank"%></li>
      <% end %>
    </ul>
  </div>
</div>
