<% content_for :title, "Topics" %>

<section class="section">
  <div class="row" id="table-striped">
    <div class="col-12 cold-md-12">
      <%= render "topics/search", providers: @providers, languages: @languages  %>
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h2 class="card-title">Topics</h2>
          <%= link_to new_topic_path, class: "btn btn-primary" do %>
            <i class="bi bi-plus"></i> Add New Topic
          <% end %>
        </div>
        <div class="card-content">
          <div class="card-body">
            <p class="card-text"> Some important information or instruction can be placed here.</p>
            <div class="table-responsive">
              <table class="table table-lg table-striped mb-0">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>UID</th>
                    <th>Language</th>
                    <th>Provider</th>
                    <th>State</th>
                    <th class="text-end">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% @topics.each do |topic| %>
                    <tr>
                      <td class="text-bold-500"><%= topic.title %></td>
                      <td class="text-bold-500"><%= topic.description.truncate(25, omission: "...") %></td>
                      <td class="text-bold-500"><%= topic.uid.truncate(10, omission: "...") %></td>
                      <td class="text-bold-500"><%= topic.language.name %></td>
                      <td class="text-bold-500"><%= topic.provider.name %></td>
                      <td class="text-bold-500"><%= topic.state %></td>
                      <td class="text-end">
                        <%= link_to topic, class: "btn btn-primary btn-sm" do %>
                          <i class="bi bi-search"></i> View
                        <% end %>
                        <%= link_to edit_topic_path(topic), class: "btn btn-secondary btn-sm" do %>
                          <i class="bi bi-pencil"></i> Edit
                        <% end %>
                        <%= link_to archive_topic_path(topic), method: :put, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" do %>
                          <i class="bi bi-archive"></i> Archive
                        <% end %>
                        <% if Current.user.is_admin? %>
                          <%= link_to topic, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" do %>
                            <i class="bi bi-trash"></i> Delete
                          <% end %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
