<h1>User list </h1>

<div class="page-heading">
  <section class="section">
    <div class="card">
      <div class="card-body">
        <%= link_to new_region_path, class: "btn btn-primary m-2" do %>
          <i class="bi bi-plus"></i> Add New User
        <% end %>
        <table class="table table-striped" id="table1">
          <thead>
            <tr>
              <th>Email</th>
              <th>Administrator</th>
              <th class="text-end">User Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
                <td><%= user.is_admin %></td>
                <td class="text-end">
                  <%= link_to edit_user_path(user), class: "btn btn-secondary btn-sm pr-2" do %>
                    <i class="bi bi-pencil"></i> Edit
                  <% end %>
                  <%= button_to  user, data: { confirm: "Are you sure?" }, method: :delete,form_class:"d-inline",  class: "btn btn-danger btn-sm " do %>
                    <i class="bi bi-trash"></i> Delete
                  <% end %>
                </td>
              </tr>
            <% end %>
          <tbody>
        </table>
      </div>
    </div>
  </section>
</div>
