<%= form_with(model: training_resource) do |form| %>
  <% if training_resource.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(training_resource.errors.count, "error") %> prohibited this training_resource from being saved:</h2>

      <ul>
        <% training_resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-4">
    <div class="form-group">
      <%= form.label :topic, style: "display: block" %>
      <%= form.collection_select :topic_id, Topic.order(:title), :id, :title, { prompt: "Select topic" }, class: "form-select" %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <%= form.label :state, style: "display: block" %>
      <%= form.number_field :state, class: "form-control", autofocus: true %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <%= form.label :file_name_override, style: "display: block" %>
      <%= form.text_field :file_name_override, class: "form-control" %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <%= form.label :document, style: "display: block" %>
      <%= form.file_field :document, class: "form-control" %>
    </div>
  </div>

  <div class="mt-4">
    <div class="col-12 d-flex justify-content-end">
      <%= form.submit "Create Training Resource", class: "btn btn-primary me-1 mb-1" %>
      <%= link_to "Cancel", training_resources_path, class: "btn btn-light-secondary me-1 mb-1" %>
    </div>
  </div>
<% end %>
