<% content_for :title, "Training Resources" %>

<section class="section">
  <div class="row" id="table-striped">
    <div class="col-12 cold-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h2>Training Resources</h2>
          <%= link_to new_training_resource_path, class: "btn btn-primary" do %>
            <i class="bi bi-plus"></i> Add Training Resource
          <% end %>
        </div>
        <div class="card-content">
          <div class="card-body">
            <p class="card-text">
              Lorem ipsum dolor sit amet, <code>consectetur adipiscing</code> elit. Sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip
              ex ea commodo consequat. Duis aute irure dolor in <code>reprehenderit</code> in voluptate velit esse
              cillum dolore eu fugiat nulla
              pariatur. Excepteur sint <code>occaecat cupidatat</code> non proident, sunt in culpa qui officia deserunt
              mollit anim id est
              laborum.
            </p>
            <!-- table striped -->
            <div class="table-responsive">
              <table class="table table-lg table-striped mb-0">
                <thead>
                <tr>
                  <th class="text-start">Topic</th>
                  <th class="text-end">State</th>
                  <th class="text-end">Filename Override</th>
                  <th class="text-end">Document</th>
                  <th class="text-end">Actions</th>
                </tr>
                </thead>
                <tbody>
                <% @training_resources.each do |training_resource| %>
                  <tr>
                    <td class="text-bold-500"><%= training_resource.topic.title %></td>
                    <td class="text-bold-500"><%= training_resource.state %></td>
                    <td class="text-bold-500"><%= training_resource.file_name_override %></td>
                    <td class="text-bold-500"><%= training_resource.document.key %></td>
                    <td class="text-end">
                      <%= link_to training_resource, class: "btn btn-primary btn-sm" do %>
                        <i class="bi bi-search"></i> View
                      <% end %>
                      <%= link_to edit_training_resource_path(training_resource), class: "btn btn-secondary btn-sm" do %>
                        <i class="bi bi-pencil"></i> Edit
                      <% end %>
                      <%= link_to training_resource, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" do %>
                        <i class="bi bi-trash"></i> Delete
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


