<div style="color: green"><%= notice %></div>

<%= render @region %>

<%= link_to "Back to regions", regions_path, class: "mt-4" %>

<div>
  <%= link_to "Edit this region", edit_region_path(@region), class: "btn btn-primary mt-4" %>
</div>

<div>
  <%= button_to "Destroy this region", @region, method: :delete, class: "btn btn-danger mt-4" %>
</div>
